# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
# Using conda env

# Notebooks
.ipynb_checkpoints/

# OS / editoreditor
.DS_Store
.vscode/
.idea/

# Config
config/dev/db_config.yaml

# Compiled C++ helpers
src/cpp_engine/*.dylib